<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xx.craw.mapper.MarketTradeDetailsMapper">

    <resultMap id="BaseResultMap" type="com.xx.craw.domain.vo.MarketTradeDetails">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="marketId" column="market_id" jdbcType="VARCHAR"/>
            <result property="date" column="date" jdbcType="DATE"/>
            <result property="currentTime" column="current_time" jdbcType="VARCHAR"/>
            <result property="latestPrice" column="latest_price" jdbcType="DECIMAL"/>
            <result property="volume" column="volume" jdbcType="DECIMAL"/>
            <result property="turnover" column="turnover" jdbcType="DECIMAL"/>
            <result property="avgTradePrice" column="avg_trade_price" jdbcType="DECIMAL"/>
            <result property="quoteChange" column="quote_change" jdbcType="DECIMAL"/>
            <result property="createdById" column="created_by_id" jdbcType="VARCHAR"/>
            <result property="createdBy" column="created_by" jdbcType="VARCHAR"/>
            <result property="createdDate" column="created_date" jdbcType="TIMESTAMP"/>
            <result property="lastModifiedById" column="last_modified_by_id" jdbcType="VARCHAR"/>
            <result property="lastModifiedBy" column="last_modified_by" jdbcType="VARCHAR"/>
            <result property="lastModifiedDate" column="last_modified_date" jdbcType="TIMESTAMP"/>
            <result property="delete" column="delete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,market_id,date,
        current_time,latest_price,volume,
        turnover,avg_trade_price,quote_change,
        created_by_id,created_by,created_date,
        last_modified_by_id,last_modified_by,last_modified_date,
        delete
    </sql>
</mapper>
