<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xx.craw.mapper.TMarketTransactionMapper">

    <resultMap id="BaseResultMap" type="com.xx.craw.pojo.TMarketTransaction">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="date" column="date" jdbcType="DATE"/>
            <result property="type" column="type" jdbcType="INTEGER"/>
            <result property="openingPrice" column="opening_price" jdbcType="DECIMAL"/>
            <result property="closingPrice" column="closing_price" jdbcType="DECIMAL"/>
            <result property="highestPrice" column="highest_price" jdbcType="DECIMAL"/>
            <result property="lowestPrice" column="lowest_price" jdbcType="DECIMAL"/>
            <result property="volume" column="volume" jdbcType="DECIMAL"/>
            <result property="turnover" column="turnover" jdbcType="DECIMAL"/>
            <result property="totalVolume" column="total_volume" jdbcType="DECIMAL"/>
            <result property="totalTurnover" column="total_turnover" jdbcType="DECIMAL"/>
            <result property="createdById" column="created_by_id" jdbcType="VARCHAR"/>
            <result property="createdBy" column="created_by" jdbcType="VARCHAR"/>
            <result property="createdDate" column="created_date" jdbcType="TIMESTAMP"/>
            <result property="lastModifiedById" column="last_modified_by_id" jdbcType="VARCHAR"/>
            <result property="lastModifiedBy" column="last_modified_by" jdbcType="VARCHAR"/>
            <result property="lastModifiedDate" column="last_modified_date" jdbcType="TIMESTAMP"/>
            <result property="delete" column="delete" jdbcType="TINYINT"/>
            <result property="tradingVariety" column="trading_variety" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,date,type,
        opening_price,closing_price,highest_price,
        lowest_price,volume,turnover,
        total_volume,total_turnover,created_by_id,
        created_by,created_date,last_modified_by_id,
        last_modified_by,last_modified_date,delete,
        trading_variety
    </sql>
</mapper>
